[Unit]
After=network.target

[Service]
Type=simple
WorkingDirectory={{project_path}}
ExecStart=/usr/bin/node --env-file=.env index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target