---
- name: Configuring fresh machine by adding user and updates and packages
  hosts: all
  become: true
  vars_files:
    - variables/credentials.yml

  tasks:
    - name: Updating index caches
      ansible.builtin.apt:
        update_cache: true

    - name: Upgrading packages
      ansible.builtin.apt:
        only_upgrade: true

    - name: Upgrade the OS
      ansible.builtin.apt:
        upgrade: dist


    - name: Rebooting systems
      ansible.builtin.reboot:


    - name: Creating user for admin use
      ansible.builtin.user:
        name: "{{ remote_admin_user }}"
        password: "{{ remote_admin_password | password_hash('sha512') }}"
        shell: /bin/bash
        group: sudo


    - name: Addig ssh key for user
      ansible.posix.authorized_key:
        user: "{{ remote_admin_user }}"
        key: "{{ remote_admin_key }}"

    - name: Creating user for ansible user
      ansible.builtin.user:
        name: "{{ remote_ansible_user }}"
        group: sudo

    - name: Addig ssh key for ansible user
      ansible.posix.authorized_key:
        user: "{{ remote_ansible_user }}"
        key: "{{ remote_ansible_key }}"

    - name: Add sudoers file for user
      ansible.builtin.copy:
        dest: "/etc/sudoers.d/{{ remote_ansible_user }}"
        content: "{{ remote_ansible_user }} ALL=(ALL) NOPASSWD:ALL"
        owner: root
        group: root
        mode: "0440"

    - name: Removing ssh key from the root
      ansible.posix.authorized_key:
        user: root
        key: "{{ remote_root_key }}"
        state: absent


    - name: Installing needed packages
      ansible.builtin.apt:
        name:
          - curl
          - ca-certificates
          - git
          - tmux
