[Unit]
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node --env-file={{project_path}}/.env {{project_path}}
Restart=on-failure

[Install]
WantedBy=multi-user.target