---
- name: Installing needed dependencies on machine
  become: true
  apt:
    name:
      - gpg
      - ca-certificates
      - curl
      - gnupg

- name: Downloading nodejs package keys in the machine
  become: true
  shell: "curl -fsSL https://deb.nodesource.com/setup_24.x | sudo -E bash -"

- name: Installing nodejs on the machine
  become: true
  apt:
    name: nodejs
    state: "{{ item }}" 
  loop:
    - absent
    - latest