---
- name: Installing needed dependencies on machine
  become: true
  ansible.builtin.apt:
    name:
      - gpg
      - ca-certificates
      - curl
      - gnupg

- name: Copying NodeJS install script
  ansible.builtin.uri:
    url: https://deb.nodesource.com/setup_24.x
    method: GET
    return_content: true
  register: response

- name: Executing NodeJS install script
  become: true
  ansible.builtin.command: bash
  args:
    stdin: "{{ response.content }}"
    creates: /etc/apt/sources.list.d/nodesource.list
  changed_when: false

- name: Installing nodejs on the machine
  become: true
  ansible.builtin.apt:
    name: nodejs
    state: "{{ item }}"
  loop:
    - absent
    - latest
